.valid{
    border: 2px solid $darkGreen;
    background-color: $lightGreen;
}

.true{
    border-color: $darkGreen;
    background-color: $lightGreen;
}

.error{
    border-color: $darkRed;
    background-color: $lightRed;
}

.addtext{
    position: relative;
}
.errorMessage, .wellDoneMessage {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 110%;

    @include translate(0, -50%);

}
.errorMessage {
    color: $darkRed;
}
.wellDoneMessage {
    color: $darkGreen;
}

